In [16]:
import numpy as np
import pandas as pd

In [17]:
'''f = open('D:/the_papers_of_recommendaer_system/20180709_data_amazon/Amazon-E-commerce-Data-set-master/Data-sets/amazondata_Phones_1984.txt','r')
message = f.read()
print(message)
f.close()'''

"f = open('D:/the_papers_of_recommendaer_system/20180709_data_amazon/Amazon-E-commerce-Data-set-master/Data-sets/amazondata_Phones_1984.txt','r')\nmessage = f.read()\nprint(message)\nf.close()"

In [19]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.087291 -0.233845  0.480395  0.329091
2013-01-02 -0.704374 -0.025888  0.473834 -0.933245
2013-01-03 -0.673417 -0.363435 -0.411275  0.356412
2013-01-04 -0.878686  0.900547  0.807722 -1.249939
2013-01-05 -0.838027 -0.896882 -1.187673  0.667424
2013-01-06 -1.067107  1.382299 -0.424224  0.468810

In [20]:
df.mean(axis = 1)

2013-01-01    0.165733
2013-01-02   -0.297418
2013-01-03   -0.272929
2013-01-04   -0.105089
2013-01-05   -0.563789
2013-01-06    0.089944
Freq: D, dtype: float64

In [21]:
df.mean()

A   -0.679053
B    0.127133
C   -0.043537
D   -0.060241
dtype: float64

In [22]:
df.median()

A   -0.771200
B   -0.129866
C    0.031279
D    0.342752
dtype: float64